
#body {
  padding-top: 40px;
}


.field {
  display: block;
  max-width: 500px;
  min-height:auto;
  background-color: white;
  margin: auto;
  border-radius: 7px;
  padding-top: 2em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 2em;
}

h3 {
  text-align: center;
  display: inline;
}
.fa-quote-left {
  display: inline-block;
  float: left;
  font-size: 20px;
  margin-right: 10px;
}

.fa-twitter-square {
  display: block;
  font-size: 47px;
  margin-left: .7em;
  color: #55AE3A;
  float: left;
}

.button1 {
  background-color: #55AE3A;
  display: block;
  margin-left: auto;
  margin-right: 2em;
  border-radius: 3px;
  margin-top: 1.5em;
  border: none;
  color: white;
  padding-top:.7em;
  padding-bottom:.7em;
  padding-right: 1em;
  padding-left: 1em;
}

.button2 {
  background-color: transparent;
  border: none;
  display: block;
  float: left;

}

.red {
  background-color: #a63251;
  transition: background .25s ease-in;
  -moz-transition: background .25s ease-in;
  -webkit-transition: background .25s ease-in;
}

.red1 {
  background-color: #a63251;
  transition: background .25s ease-in;
  -moz-transition: background .25s ease-in;
  -webkit-transition: background .25s ease-in;
}

.blue {
  background-color: #010540;
  transition: background .25s ease-in;
  -moz-transition: background .25s ease-in;
  -webkit-transition: background .25s ease-in;
}

.ltblue {
  background-color: #65a6bf;
  transition: background .25s ease-in;
  -moz-transition: background .25s ease-in;
  -webkit-transition: background .25s ease-in;
}

.tan {
  background-color: #f2d9ba;
  transition: background .25s ease-in;
  -moz-transition: background .25s ease-in;
  -webkit-transition: background .25s ease-in;
}

.salmon {
  background-color: #f2695c;
  transition: background .25s ease-in;
  -moz-transition: background .25s ease-in;
  -webkit-transition: background .25s ease-in;
}

.red2 {
  background-color: #e5cbcf;
  transition: background .25s ease-in;
  -moz-transition: background .25s ease-in;
  -webkit-transition: background .25s ease-in;
}

.red3 {
  background-color: #ffa2ab;
  transition: background .25s ease-in;
  -moz-transition: background .25s ease-in;
  -webkit-transition: background .25s ease-in;
}

.red4 {
  background-color: #ff6a79;
  transition: background .25s ease-in;
  -moz-transition: background .25s ease-in;
  -webkit-transition: background .25s ease-in;
}

.red5 {
  background-color: #e7374f;
  transition: background .25s ease-in;
  -moz-transition: background .25s ease-in;
  -webkit-transition: background .25s ease-in;
}

.red6 {
  background-color: #902d3a;
  transition: background .25s ease-in;
  -moz-transition: background .25s ease-in;
  -webkit-transition: background .25s ease-in;
}
